
<ion-view title="{{event.title}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-chevron-left" ng-click="goToEvents()"></button>
  </ion-nav-buttons>
<ion-content has-header="true" >
<div class="image-caption" style='background: url("{{event.img}}") no-repeat; background-size: 100% 100%; border-bottom: 1px solid #808080'></div>
  <p class="event-tag-line">Come Join us and Rave Like Bananas!</p>

<div class="item no-border host-panel">
  <span>
  <img class="host-image" src="img/empty-avatar-woman.jpg">
  </span>
  <p class="hosted-text">Hosted By</p>
  <h2 class="host-name">{{host.name}}</h2>
</div>

<div class="item item-body no-border">
  {{event.description}}
</p>
</div>

<div class="item item-body no-border ">
  <p>Date: November 05, 1955</p>
  <p>Location: {{event.location}} </p>
</div>


<div class="item tabs tabs-secondary tabs-icon-left">
  <a class="tab-item" href="#">
    <i class="icon ion-information-circled"></i>
    Details
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-chatbox"></i>
    Messages
  </a>
</div>
</ion-content>
