<ion-view title="Host an Event">
  <ion-nav-buttons side="right">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-buttons>
  <ion-content has-header="true" >
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="event.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description" ng-model="event.description">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Date</span>
        <input type="text" placeholder="Date" ng-model="event.formatted_date" ng-click='openDateModal()'>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Time</span>
        <input type="text" placeholder="Time" ng-model="event.time">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Location" ng-model="event.location">
      </label>
    </div>

  <div class='btn-container'>
    <button class="button button-block button-energized" ng-click='goToContacts()'>
      <span> Add invitees </span>
    </button>

<!-- 
    <button class="button button-block button-positive" ng-click='createEvent(event)'>
      Create event
    </button> -->
  </div>
</ion-content>