/* Empty. Add your own CSS if you like */
.btn-container{
  margin: 10px;
}
/*Pink - FF8E8E
Yellow - FFF585
Brown - E8B376
Purple - B476E8
Blue - 81B8FF*/


@font-face {
    font-family: 'OilField';
    src:url('../lib/ionic/fonts/OilField.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OilField';
    src:url('../lib/ionic/fonts/OilFieldBold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Champagne';
    src:url('../lib/ionic/fonts/Champagne.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne';
    src:url('../lib/ionic/fonts/ChampagneBold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Nexa';
    src:url('../lib/ionic/fonts/Nexa.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src:url('../lib/ionic/fonts/NexaBold.ttf');
    font-weight: bold;
    font-style: bold;
}
